$Very-Pale-Cyan: hsl(193, 100%, 96%);
$Pink: hsl(322, 100%, 66%);

$Very-Dark-Cyan: hsl(192, 100%, 9%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$Grayish-Blue: hsl(208, 11%, 55%);

$white: #fff;
$dark-cyan: hsl(186, 23%, 44%);
