@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

// .top__hero h2{
    // color:red;
// }

.hero__img{
    background: url("../images/33f002db217e1fa6585be279913cd6f8.jpg") no-repeat center center/cover;
    height: 90vh;
}

.top__hero{
    @include flex(space-around, center, center);
    // width:100%;
    // margin-top: 2em;
    gap:3em;
}

// .top__hero h2 p{
//     // margin:2em;
//     background-color: red;
//     // padding:3em;
// }

.hero__content{
    width:25%;
    background-color: $Very-Pale-Cyan;
    padding: 2em;
    margin-top: 2em;
}

.about{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/about us.jpeg") no-repeat center center/cover;
    height:40vh;
    color:white;
}

.about h1 p{
    text-align: center;
    width:25%;
    @include flex(center, center)
}

@media screen and (max-width: 414px) {

    .top__hero img{
        width:100%;
    }
}
