@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.main__services {
  @include flex(center, center, column);
  gap: 2em;
  margin-bottom: 2em;
}

.main__content {
  @include flex(space-evenly, center, center);
  width: 30%;
  gap: 5em;
}

.inputs {
  // padding: 2em;
  background-color: $Very-Pale-Cyan;
  // box-shadow: 0 0 2rem solid black;
  @include flex(center,center,column);
  // align-items: center;
  position: relative;
  left: 650px;
  gap: 2em;
  width:25%;
  margin: 5em;
  border:  2px solid black;
  // box-shadow: 0 0 1rem solid black;
}

.inputs input {
  @include flex(space-between, center,center);
  // background-color: red;
  padding: 1em;
  margin: 2em;
  box-shadow: 0 0 1rem solid black;
}

.inputs span {
  // position: absolute;
  // bottom: 12px;
  // left: 17px;
  font-size: 14px;
  color: red;
}

.about__section {
  background-color: $Very-Pale-Cyan;
  padding: 300px 0;
  padding-left: 5em;
  box-shadow: 0 0 1px solid black;
  width: 30%;
  align-items: center;
}

.btn {
  padding: 1em 2em;
  background-color: $Very-Pale-Cyan;
  cursor: pointer;
  // border: none;
  // border-radius: ;
}

.about__content img {
  margin: 2em;
  // margin-right: 5em;
  align-items: center;
  align-content: center;
}

.about__content {
  @include flex(space-evenly, center, center, row);
  margin: 2em;
}

// .img__1{
//     margin-right: 5em;
// }

.testimonies {
  width: 70%;
}

// @media screen and (max-width: 414px) {
//   .main__services{
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//   }

//   .main__flex{
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//   }
// }

@media screen and (max-width: 414px) {
  .main {
    // color: red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // background-color: red;
  }

  .inputs{
    width: 100%;
    position: relative;
    left: -82px;
    text-align: center;
  }
}
